@charset "utf-8";

body {
  max-width: 1200px;
  min-width: 375px;
  margin: 0 auto;
  font-family: sans-serif;
  background: #f0f8ff;
  text-align: center;
}



h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007acc;
  text-shadow: 2px 2px 0 #00e6ff, -2px -2px 0 #00e6ff;
  margin: 40px 0 40px 0;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(135deg, #00f0ff, #00c0ff);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.gameList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gameCard {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 375px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.gameCard:hover {
  transform: translateY(-5px);
}

.gameCard a {
  display: block;
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #007acc;
  padding: 12px 0;
  margin: 10px auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
}

.gameCard a:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.gameTitle {
  font-size: 2rem;

}

.gameImage {
  width: 100%;
  height: auto;
}

.score {
  font-size: 1.2em;
  color: #333;
}



/*//////////////////////////////////////////ログインページ//////////////////////////////////////////  */
.loginDisplay,
.logOutDisplay {
  max-width: 1040px;
  min-width: 375px;
  margin: 80px auto 0 auto;
  border: #F7D1CD 2px solid;
  color: #7F5539;
  font-size: 24px;
  line-height: 24px;
}

.loginDisplay .submitButton {
  margin: 40px auto 20px auto;
}

.logOutDisplay .submitButton {
  margin: 40px auto 40px auto;
}

.afterComplete {
  width: 1040px;
  margin: 40px auto 80px auto;
  text-align: end;
  color: #7F5539;
  font-size: 24px;
  line-height: 24px;
}

.afterComplete ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}







@media (max-width: 768px) {
}